<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	<!-- /Header -->

			<!-- Show the "ultimos" products -->
			<section class="formulario">
				<h1 class="titleForm">Ingresar</h1>
				<form action="/users/login" method="post">
				<input class="controles" type="email" name="email" placeholder="Ingrese su email"> 
				<input class="controles" type="password" name="password" placeholder="Ingrese Su contraseña" > 
				<div style="display: flex; justify-content: space-around; align-items: center;">
					<p style="height: 100%;">Recordar mi usuario?</p>
					<input class="controles" style="height: 30px;width: 30px;padding: 0;margin: 0;" type="checkbox" >
				</div>
				<input class = 'botonFormulario' type="submit" value="Ingresar">
			</section></form>


	<!-- footer -->
	
    <%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>