<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	<!-- /Header -->

			<!-- Show the "ultimos" products -->
			<section class="formulario">
				<h1 class="titleForm">Ingresar</h1>
				<form action="/users/login" method="post">
				<input class="controles" type="email" name="email" placeholder="Ingrese su email"> 
				<input class="controles" type="password" name="password" placeholder="Ingrese Su contraseña" > 
				<div style="display: flex; justify-content: space-around; align-items: center;">
					<p style="height: 100%;">Recordar mi usuario?</p>
					<input class="controles" style="height: 30px;width: 30px;padding: 0;margin: 0;" name="remember" type="checkbox" >
				</div>
				<input class = 'botonFormulario' type="submit" value="Ingresar">
			</section></form>


	<!-- footer -->
	
    <%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>