<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>
<body>
	<!-- Header -->
<%- include("./partials/headerLogueado") %>
	<!-- /Header -->

	<!-- Novedades -->

	<section class="formulario">
		<form action="/" method="get">
			<h1 class="titleForm">Agregar Productos</h1>
			<input class="controles" type="text" name="nombreProducto" placeholder="Nombre del producto">
			<input class="controles" type="file" name="archivo">
			<input class="controles" type="text" name="descripcion" placeholder="Indique una descripcion del producto">
			<input class="controles" type="date" name="fecha">
			<input class="botonFormulario" type="submit" value="Subir">
		</form>
	</section>


	<!-- footer -->
    <%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>