<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include("./partials/head") %>
<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	<!-- /Header -->
	<!-- Show the "ultimos" products -->
	<form action="/users/register" method="POST">    
		<section class="formulario">
			<h1 class="titleForm">Tus datos</h1>
			<h4>Validá tus datos para que nadie pueda ingresar o crear una cuenta a tu nombre.</h4>
			<input class="controles" type="email" name="email" required placeholder="Ingrese su Correo"> 
			<input class="controles" type="text" name="name" required placeholder="Ingrese su Nombre"> 
			<input class="controles" type="password" name="pass" required minlength="4" placeholder="Ingrese su Contraseña" > 
			<input class="controles" type="number" name="DNI" required placeholder="Numero de Documento">
			<input class="controles" type="text" name="foto" required>
			<input class="controles" type="date" name="fecha" required>  
			<input class = 'botonFormulario' type="submit" value="Registrar">
			<p><a href="http://localhost:3000/login">Ya tengo cuenta</a></p>
		</section>
	</form>
	<!-- footer -->
    <%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>