<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/logo-mercado-liebre.jpg" />

	<title> Mercado Liebre Argentina</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="../stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="../stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include("./partials/header") %>
	<!-- /Header -->
	<!-- Show the "ultimos" products -->
	<form action="/users/register" method="POST">    
		<section class="formulario">
			<h1 class="titleForm">Tus datos</h1>
			<h4>Validá tus datos para que nadie pueda ingresar o crear una cuenta a tu nombre.</h4>
			<input class="controles" type="email" name="email" placeholder="Ingrese su Correo"> 
			<input class="controles" type="text" name="name" placeholder="Ingrese su Nombre"> 
			<input class="controles" ype="password" name="pass" placeholder="Ingrese su Contraseña" > 
			<input class="controles" type="number" name="DNI" placeholder="Numero de Documento">
			<input class="controles" type="file" name="foto" accept=".jpg,.png">
			<input class="controles" type="date" name="fecha" >  
			<input class = 'botonFormulario' type="submit" value="Registrar">
			<p><a href="http://localhost:3000/login">Ya tengo cuenta</a></p>
		</section>
	</form>
	<!-- footer -->
    <%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>